.widget-container{
  display: flex;
  width: 100%;
  @media only screen and (max-width:768px){
    // display: flex;
    // overflow: auto;
    width: 650px; 
    flex-wrap: wrap !important;
  };
  .widget{
    color: #fff;
    justify-content: space-between;
    width: 325px;
    height: 175px;
    background: #fff;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    padding-inline: 30px ;
    border-radius: 5px;
    margin: 10px;
    // gap: ;
    @media only screen and (max-width:1600px){
      width: 270px;
      height: 120px;
      transition: 0.2s;
    };
    @media only screen and (max-width:1100px){
      width: 200px;
      height: 120px;
      transition: 0.2s;

    };
    @media only screen and (max-width:800px){
      width: 270px;
      height: 130px;
      transition: 0.2s;
    };
    &.green{
      background: rgb(4, 67, 66);
      transition: 0.2s;
      &:hover{
      transition: 0.2s;
      transform: scale(1.05,1.05);
      cursor: pointer;
      }
    }
    &.yellow{
      background: rgb(237, 158, 32);
        transition: 0.2s;
        &:hover{
        cursor: pointer;
        transition: 0.2s;
        transform: scale(1.05,1.05);
      }
    }
    &.red{
      background: rgb(126, 5, 5);
        transition: 0.2s;
        &:hover{
        cursor: pointer;
        transition: 0.2s;
      transform: scale(1.05,1.05);
      }
    }
    &.blue{
      background: rgb(105, 32, 251);
        transition: 0.2s;
        &:hover{
        cursor: pointer;
        transition: 0.2s;
        transform: scale(1.05,1.05);
      }
    }
  }
  .icon{
    width: 90px;
    font-size: 60px;
    text-align: center;
    @media only screen and (max-width:1600px){
      font-size: 45px;
    };
    @media only screen and (max-width:1100px){
      font-size: 35px;

    };
  }
  .value{
    font-family: "medium";
    font-size: 18px;
    // .bottom{
    // }
    font-size: 20px;
    // font-family: "bold";
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    @media only screen and (max-width:1600px){
      font-size: 16px;
    font-family: "regular";
    };
  }
}
