<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-nav></app-side-nav>
    </div>
    <div class="main">
      <!-- Products -->
      <app-spinner *ngIf="isLoading"></app-spinner>
      <div *ngIf="!isLoading" class="shops-section">
        <div class="shops">
          <swiper-container #shops [pagination]="true" [slidesPerView]="6">
            <swiper-slider *ngFor="let item of [1,2,3,4,5,6,7,8,8]">
              <div class="shop">
                <div class="shop-img">
                  <img src="../../../../../assets/images/1200px-Icons8_flat_shop.svg.png" alt="">
                </div>
                <div class="shop-title">
                  <h3>Shop Name</h3>
                </div>
                <div class="shop-location">
                  <span>Location: Cairo</span>
                  <ion-icon name="location-outline"></ion-icon>
                </div>
                <div class="shop-category">
                  <span>Category: Agricultural</span>
                </div>
              </div>
            </swiper-slider>
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</div>
