*{
  // margin: 0;
  box-sizing: border-box;
}
.cat-title{
  padding: 20px 0;
  font-family: "bold";
  font-size: 30px;
}

.shops{
  position: relative;
  width: 1500px;
  @media(max-width:1000px){
    width: 900px;
  }
  swiper-container{
    swiper-slide{
      // width: fit-content !important;
      padding: 20px 16px;
      .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        width: fit-content;
        background: #fff;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
        padding: 16px 24px;
        img{
          width: 150px;
        }
        .details{
          h1{
            font-family: "medium";
            margin: 0;
            padding: 10px;
          }
          span{
            font-family: "regular";
            margin: 0;
            padding: 5px;
          }
        }
      transition: 0.3s;
      &:hover{
    cursor: pointer;
    transition: 0.2s;
        transform: scale(1.1,1.1);

      }
      }

    }
  }

}
.swipe-icon{
  position: absolute;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  align-items: center;
      transition: 0.3s;
      justify-content: center;

  &:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1,1.1);

  }
}

.swipe-back{
  left: 0;
  top: 50%;
}

.swipe-forward{
  right: 0;
  top: 50%;
}
